<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mettre a jour Tâches</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='update_task.css') }}">
</head>
<body>
<header>
<h1>Mettre a jour la Tâches</h1>
</header>
<form method="POST" action="{{ url_for('update_task_after', task_id=task.id) }}">

    <label for="task_name">Nom de la Tâche</label>
    <input type="text" id="task_name" name="new-task-name" value="{{ task.task_name }}" required>

    <label for="task_description">Description</label>
    <textarea id="task_description" name="new-task-description" required>{{ task.task_description }}</textarea>

    <label for="task_due_date">Date de Fin</label>
    <input type="date" id="task_due_date" name="new-task-due-date" value="{{ task.task_due_date }}" required>

    <label for="task_priority">Priorité</label>
    <select id="task_priority" name="new-task-priority" required>
        <option value="faible" {% if task.task_priority == 'faible' %}selected{% endif %}>Faible</option>
        <option value="moyenne" {% if task.task_priority == 'moyenne' %}selected{% endif %}>Moyenne</option>
        <option value="élevée" {% if task.task_priority == 'élevée' %}selected{% endif %}>Élevée</option>
    </select>

    <button type="submit">Mettre à jour</button>
</form>
</body>
</html>
